@charset "utf-8";
/* CSS Document */

.wrapper { max-width:970px; margin:0 auto;}
header { width:100%; background:#142935; padding:35px 0 26px; border-bottom:4px solid #00929f;}
header .top_info { text-align:right; color:#ffffff; font-size:20px; font-weight:400;}
header .top_links { font-size:14px; margin-top:20px;}
header .top_links a { color:#ffffff; margin:0 5px;}
header .top_links a:hover { text-decoration:none; color:#dce7ed;}
header .top_links a:last-child { margin-right:0;}
.form_area { width:96%;}
.services { width:100%; overflow:hidden; padding:40px 0 60px; background-attachment: scroll; background-image: url(../images/bg-search.png); background-position: center center; background-size: cover;}
.services .heading { font-size:36px; font-weight:600; color:#142935; margin-bottom:15px; float:left; width:100%;}
.services .field_row .keyword { width:59%;}
.services .field_row .zip { width:18%;}
.advance_search { width:100%; clear:both; font-size:14px; color:#142935; padding-left:8px;}
.advance_search a { color:#142935;}
.search_btn { width:100%; clear:both; padding:10px 0 48px; text-align:right; }
.search_btn input[type="button"] { background:#00929f; border:1px solid #006c76; color:#ffffff; text-transform:uppercase; padding:7px 12px;}
.search_btn input[type="button"]:hover {background:#008490;}
.service_collage { width:100%; clear:both;}
.service_collage img { width:100%; max-width:100%;}
.services_box { text-align:center;}
.services_box .box_title { font-size:40px; font-weight:600; color:#00929f; margin-top:20px; float:left; width:100%;}
.service_area { width:96%; background-color: rgba(255,255,255,0.5); border-radius:6px; border:20px solid #e6e6e6; border-width:20px 0; float:left;  clear:both;}
.servide_row { padding:10px 15px 10px 30px; text-align:left; overflow:hidden;}
.servide_row img { float:left; padding-right:15px;}
.servide_row h2 { font-size:18px; color:#000000; text-transform:uppercase; margin:0 0 5px; border-bottom:1px solid #000000; overflow:hidden; padding:2px 0 6px;}
.servide_row p { font-size:12px; color:#000000; margin-bottom:4px;}
.servide_row span { float:right;}
.servide_row span a { display:block; background:#00929f; border:1px solid #006c76; color:#ffffff; border-radius:5px; font-size:12px; padding:0 6px 0 10px; line-height:24px;}
.servide_row span a:hover {background:#008490;}
.servide_row span a img { float:none; padding:0 0 0 4px; vertical-align:middle;}
.servide_row:first-child { border-bottom:14px solid #e6e6e6;}
.wrapper h1 { font-weight:300; color:#006c76; margin:0 0 30px;}
.wrapper h1 span { color:#72cac8;}
.immigration_resources { width:100%; clear:both; overflow:hidden; padding:40px 0 60px; background:url(../images/bg-immigration-resources.png) no-repeat right bottom;}
.immigration_resources ul { list-style:url(../images/bullet.png); padding-left:22px; width:36%;}
.immigration_resources ul li { margin-bottom:10px;}
.immigration_resources ul li span { display:block; background:#00929f; padding:8px 12px; font-size:14px; color:#ffffff; border:1px solid #dcdcdc; border-radius:6px; border-right:5px solid #72cac8;}
.job_opportunities { width:100%; overflow:hidden; clear:both; padding:40px 0 60px; background-attachment: scroll; background-image: url(../images/bg-job-opportunities.png); background-position: center center; background-size: cover;}
.job_opportunities,.job_opportunities h1 { color:#ffffff;}
.opportunity_section { clear:both; width:100%; overflow:hidden; text-align:center;}
.web_development span { width:100%; height:126px; background:url(../images/icon-web-development.png) no-repeat top center; display:block; margin-bottom:30px;}
.web_development:hover span {background:url(../images/icon-web-development-select.png) no-repeat top center;}
.web_development a { display:block; width:100%; background:#006c76; line-height:60px; border:1px solid #0f546a; text-transform:uppercase; color:#ffffff; font-size:18px; border-radius:6px;}
.web_development:hover a { color:#ffffff; background:#142935;}
.job_search span { width:100%; height:126px; background:url(../images/icon-job-search.png) no-repeat top center; display:block; margin-bottom:30px;}
.job_search:hover span {background:url(../images/icon-job-search-select.png) no-repeat top center;}
.job_search a { display:block; width:100%; background:#006c76; line-height:60px; border:1px solid #0f546a; text-transform:uppercase; color:#ffffff; font-size:18px; border-radius:6px;}
.job_search:hover a { color:#ffffff; background:#142935;}
.job_alert span { width:100%; height:126px; background:url(../images/icon-job-alert-signup.png) no-repeat top center; display:block; margin-bottom:30px;}
.job_alert:hover span {background:url(../images/icon-job-alert-signup-select.png) no-repeat top center;}
.job_alert a { display:block; width:100%; background:#006c76; line-height:60px; border:1px solid #0f546a; text-transform:uppercase; color:#ffffff; font-size:18px; border-radius:6px;}
.job_alert:hover a { color:#ffffff; background:#142935;}
.post_resume span { width:100%; height:126px; background:url(../images/icon-post-your-resume.png) no-repeat top center; display:block; margin-bottom:30px;}
.post_resume:hover span {background:url(../images/icon-post-your-resume-select.png) no-repeat top center;}
.post_resume a { display:block; width:100%; background:#006c76; line-height:60px; border:1px solid #0f546a; text-transform:uppercase; color:#ffffff; font-size:18px; border-radius:6px;}
.post_resume:hover a { color:#ffffff; background:#142935;}
.it_career { width:100%; clear:both; overflow:hidden; padding:40px 0 60px; background:url(../images/bg-career.png) no-repeat right bottom;}
.it_career p { margin-bottom:60px;}
.img_career { text-align:right;}
.points_career { margin:40px 0 0;}
.points_career ul { list-style:url(../images/bullet.png); font-size:20px; color:#727272;}
.points_career ul li { margin-bottom:12px; padding-left:15px;}
.blog { width:100%; clear:both; overflow:hidden; padding: 40px 0 50px; background:#0092a3; color:#ffffff;}
.blog h1 { color:#ffffff;}
.blog .slider_area { width:100%; overflow:hidden; margin:10px 0 50px; float:left; clear:both;}
.blog .why_work p { margin-bottom:20px;} 
.blog .why_work span { float:right;}
.blog .why_work span a { display:block; color:#006c76; font-size:12px; background:#72cac8; line-height:24px; padding:0 8px 0 10px; border:1px solid #006c77; border-radius:6px;}
.blog .why_work span a img { margin-left:6px;}
.blog .why_work span a:hover { background:#64bdbb;}
.faq { width:100%; overflow:hidden; clear:both; padding:40px 0 60px;}
.faq .panel { background:url(../images/bullet.png) no-repeat left 13px; padding-left:20px; margin-left:5px; border:0;}
.faq .panel .panel-heading { border:1px solid #dcdcdc; border-radius:5px; margin-bottom:2px;}
.faq .panel .panel-heading:hover { background:#d6e2e2; color:#333333;}
.faq .panel .panel-heading .panel-title { font-size:14px;}
.faq .panel .panel-heading .panel-title a { display:block;}
.faq .panel .panel-collapse .panel-body { background:#efefef; border:1px solid #dcdcdc; border-radius:5px; font-size:14px;}
footer { width:100%; clear:both; overflow:hidden; padding:40px 0 60px; background:#142935;}
footer h2 { font-size:20px; color:#ffffff; font-weight:300; text-transform:uppercase; margin:0 0 30px;}
footer ul { list-style: url(../images/arrow-right-footer.png); padding:0 0 0 16px; font-size:14px;}
footer ul li { margin-bottom:10px;}
footer ul li a { color:#73b8ce;}
footer ul li a:hover { color:#aedae8;}
footer .social img { margin-right:6px;}
footer .copyright { width:100%; clear:both; text-align:center; font-size:13px; color:#727f86; padding-top:40px;}
footer .copyright a { color:#a9b2b7}
footer .copyright a:hover { color:#ffffff;}

